@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define a fixed theme for both dark and light modes */
:root {
    --foreground-color: #fff;
    /* white gray text color */
    --background-start-color: #000;
    /* Light gray background start */
    --background-end-color: #000;
    /* White background end */
}

/* Apply the fixed theme to body */
body {
    color: var(--foreground-color);
    background: linear-gradient(to bottom,
            var(--background-end-color),
            var(--background-start-color));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}